In [1]:
import pandas as pd

In [3]:
hr_data = pd.read_csv('https://raw.githubusercontent.com/edyoda/data-science-complete-tutorial/master/Data/HR_comma_sep.csv.txt')

In [4]:
hr_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
satisfaction_level       14999 non-null float64
last_evaluation          14999 non-null float64
number_project           14999 non-null int64
average_montly_hours     14999 non-null int64
time_spend_company       14999 non-null int64
Work_accident            14999 non-null int64
left                     14999 non-null int64
promotion_last_5years    14999 non-null int64
sales                    14999 non-null object
salary                   14999 non-null object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

In [5]:
hr_data.rename(columns={'sales':'department'}, inplace=True)

In [6]:
hr_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
satisfaction_level       14999 non-null float64
last_evaluation          14999 non-null float64
number_project           14999 non-null int64
average_montly_hours     14999 non-null int64
time_spend_company       14999 non-null int64
Work_accident            14999 non-null int64
left                     14999 non-null int64
promotion_last_5years    14999 non-null int64
department               14999 non-null object
salary                   14999 non-null object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

In [7]:
feature_data = hr_data.drop(columns=['left'])

In [8]:
target_data = hr_data.left

In [10]:
feature_data.salary.value_counts()

low       7316
medium    6446
high      1237
Name: salary, dtype: int64

In [12]:
feature_data.department.value_counts()

sales          4140
technical      2720
support        2229
IT             1227
product_mng     902
marketing       858
RandD           787
accounting      767
hr              739
management      630
Name: department, dtype: int64

In [11]:
feature_data.describe()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years
count,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000
mean,0.612834,0.716102,3.803054,201.050337,3.498233,0.144610,0.021268
std,0.248631,0.171169,1.232592,49.943099,1.460136,0.351719,0.144281
min,0.090000,0.360000,2.000000,96.000000,2.000000,0.000000,0.000000
25%,0.440000,0.560000,3.000000,156.000000,3.000000,0.000000,0.000000
50%,0.640000,0.720000,4.000000,200.000000,3.000000,0.000000,0.000000
75%,0.820000,0.870000,5.000000,245.000000,4.000000,0.000000,0.000000
max,1.000000,1.000000,7.000000,310.000000,10.000000,1.000000,1.000000

In [15]:
feature_data_num_cols = feature_data.select_dtypes(exclude=['object']).columns.tolist()

In [16]:
feature_data_num_cols

['satisfaction_level',
 'last_evaluation',
 'number_project',
 'average_montly_hours',
 'time_spend_company',
 'Work_accident',
 'promotion_last_5years']

In [17]:
feature_data_cat_cols = feature_data.select_dtypes(include=['object']).columns.tolist()

In [18]:
feature_data_cat_cols

['department', 'salary']

In [21]:
from sklearn.pipeline import make_pipeline
from sklearn.compose import make_column_transformer

In [22]:
from sklearn.preprocessing import StandardScaler, OrdinalEncoder

In [43]:
from sklearn.impute import SimpleImputer

In [44]:
pipeline_num = make_pipeline(StandardScaler())

In [24]:
pipeline_cat = make_pipeline(OrdinalEncoder())

In [26]:
preprocessor = make_column_transformer((pipeline_num, feature_data_num_cols), 
                        (pipeline_cat, feature_data_cat_cols))

In [28]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier

In [29]:
lr_pipeline = make_pipeline(preprocessor, LogisticRegression())

In [34]:
tree_pipeline = make_pipeline(preprocessor, DecisionTreeClassifier())

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
trainX, testX, trainY, testY = train_test_split(feature_data, target_data)

In [39]:
tree_pipeline.fit(trainX, trainY)

Pipeline(memory=None,
         steps=[('columntransformer',
                 ColumnTransformer(n_jobs=None, remainder='drop',
                                   sparse_threshold=0.3,
                                   transformer_weights=None,
                                   transformers=[('pipeline-1',
                                                  Pipeline(memory=None,
                                                           steps=[('standardscaler',
                                                                   StandardScaler(copy=True,
                                                                                  with_mean=True,
                                                                                  with_std=True))],
                                                           verbose=False),
                                                  ['satisfaction_level',
                                                   'last_evaluation',
                                                   'number_project',
                                                   'aver...
                                                  ['department', 'salary'])],
                                   verbose=False)),
                ('decisiontreeclassifier',
                 DecisionTreeClassifier(class_weight=None, criterion='gini',
                                        max_depth=None, max_features=None,
                                        max_leaf_nodes=None,
                                        min_impurity_decrease=0.0,
                                        min_impurity_split=None,
                                        min_samples_leaf=1, min_samples_split=2,
                                        min_weight_fraction_leaf=0.0,
                                        presort=False, random_state=None,
                                        splitter='best'))],
         verbose=False)

In [40]:
tree_pipeline.score(testX,testY)

0.9792

In [42]:
for model in [LogisticRegression(), DecisionTreeClassifier(), KNeighborsClassifier()]:
    pipeline = make_pipeline(preprocessor, model)
    pipeline.fit(trainX, trainY)
    print (pipeline.score(testX,testY))

/home/awantik/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.7784
0.9805333333333334
0.9472